.box{
    background-color: rgba(255,255,255,0.3);
    border-radius: 50px;
    backdrop-filter:blur(7px);
    -webkit-backdrop-filter:blur(px);
    max-width: 50%;
    max-height: 100%;
    text-align: center;
    line-height: 1;
    padding: 20px 40px;
    
   
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}



/*navbar start from here*/
.nav-logo {
    text-align: left;
}

.nav-heading h1 {
    text-align: left;
}

.navbar-menu {
    flex-direction: row;
    justify-content: flex-end;
}

navbar-menu a {
    padding: 5px 10px;
    margin: 20px 0px;
}

/*navbar end here*/
/*profile starts here*/
.profile {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.profile-desc h1{
    font-family: 'satisfy',cursive;
    font-size: 3rem;
    padding:10px;
    position: relative;
}
.profile .top-weather-icon {

    right: 100px;
    width: 120px;
    height: 120px;
    transition: width 2s transform 2s;
}

.profile .top-weather-icon:hover {
    width: 150px;
    height: 150px;
}




.profile .bottom-weather-icon {
    bottom: 20px;
    left: 100px;
    width: 120px;
    height: 120px;
    transition: width 2s transform 2s;
}

.profile .bottom-weather-icon:hover {
    width: 150px;
    height: 150px;
}
.profile-desc h1{
    color: black;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 170px;

}

.profile-desc p{
    color: black;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 50px;

}

/*profile end here*/
.aboutme-image {
    margin-top: 100px
}

.aboutme-image img {
    height: 270px;
    width: 250px;
}

.aboutme-desc p {
    text-align: center;


}

.aboutme-hr {
    padding: 1% 7%
}

.achievement {
    padding-right: 50px;

}

.contact button {

    width: 150px
}

.footer-menu{
    margin-top: 12px;
    
}

.footer-menu a{
    display: inline;
    margin: 10px;
    
}











